.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.Title {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin-top: 20px;
}

.DateTimePicker {
  margin-top: 20px !important;

  /* min-width: 75px !important;
  width: 325px !important; */
  border: 1px solid #ccc !important;
  border-radius: 25px !important;
  margin-top: 1vh !important;
}
