$font-family-regular: Helvetica-Neue-Regular;
$font-family-medium: Helvetica-Neue-Medium;
$font-family-bold: Helvetica-Neue-Bold;
$bg-box-light: #ffffff;
$bg-box-dark: #242526;
$bg-box-2-light: #e6e7eb;
$bg-box-2-dark: #3a3b3c;
$font-active: #1977f2;
$shadow-light: #c3c2c1;
$shadow-dark: #161819;
$border-light: #d5d5d3;
$border-dark: #4d535b;
$font-normal-light: #2a2a2a;
$font-normal-dark: #e5e6ec;
$selected-color: #1a76f2;
$bg-header-light: #5d6670;
$bg-header-dark: #a7abaf;
$bg-header-disable-light: #5d667040;
$bg-header-disable-dark: #a7abaf40;
$bg-hover-light: #d8dade;
$bg-hover-light-alpha: #d8dade69;
$bg-hover-dark: #4e4f50;

.container_DatePickerTis {
  .buttonContainer_DatePickerTis {
    > button {
      background-color: $selected-color;
      color: #f7f7f7;
      font-family: $font-family-regular;
      border: 0;
      outline: 0;
      border-radius: 5px;
      font-size: var(--font-size-x-small);
      transition: 0.3s;
      white-space: nowrap;
      padding: 8px 11px;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        fill: #f7f7f7;
        width: 17px;
        height: 18px;
        margin-right: 7px;
      }
      @media (max-width: 1279px) {
        font-size: var(--font-size-medium);
        padding: 5px 10px !important;
      }
    }
  }
  .DatePickerContainer_DatePickerTis {
    width: fit-content;
    height: 240px;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    padding: 20px 15px 10px;
    transition: 0.2s;
    border-radius: 5px 5px 0 0;
    z-index: 10;
  }
}

.popover_DatePickerTis {
  background-color: transparent !important;
}

.popoverPaper_DatePickerTis {
  background-color: $bg-box-light !important;
  box-shadow: 0 0 8px $shadow-light;
  padding-top: 10px !important;
}

.popoverPaperDark_DatePickerTis {
  background-color: $bg-box-dark !important;
  box-shadow: 0 0 8px $shadow-dark;
  padding-top: 10px !important;
  .tabs_DatePickerTis {
    .tab_DatePickerTis {
      color: $font-normal-dark;
    }
    .rightIcon_DatePickerTis {
      fill: $font-normal-dark;
    }
  }
}

.tabs_DatePickerTis {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
  .tab_DatePickerTis {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    font-size: medium;
    color: $font-normal-light;
    padding: 5px 10px;
    position: relative;
    font-size: var(--font-size-medium);
    &.activeTab_DatePickerTis {
      color: $font-active;
      &::after {
        content: '';
        width: 75%;
        height: 2px;
        border-radius: 2px;
        position: absolute;
        bottom: 0;
        left: 12.5%;
        background-color: $font-active;
      }
    }
  }
  .rightIcon_DatePickerTis {
    fill: $font-normal-light;
    width: 10px;
    height: 10px;
  }
}
